.append-snippet {
    width: 90%;
    margin: 1rem auto;
    text-align: center;
}

.append-snippet button {
    margin-bottom: 28px;
}

#army {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
}

.pikmin {
    height: 100px;
}

.remove {
    transition: visibility 0s 2s, opacity 2s linear;
    animation: fadeOut 1.5s;
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;} 
} 